<!doctype html>

<html>
  <head>
          <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VD2M98631N"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VD2M98631N');
    </script>
    <title>{{tittle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/homestyle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <script type="text/javascript">
        function getRandomColor() {
          var letters = '0123456789ABCDEF';
          var color = '#';
          for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
  }
          return color;
}
    function getBus(){
            $.getJSON('kewl.json',function (resp){
                  if(resp['connect']==1){
                      $('#busstat').text("The Kewlbus is online, click below to check it out!");
                      $("#buss").removeClass("bwhite");
                      $("#buss").removeClass("nbwhite");
                      $("#buss").addClass("nbwhite");
                  }
                  else{
                      $('#busstat').text("The Kewlbus is offline, click below to check it out!");
                      $("#buss").removeClass("bwhite");
                      $("#buss").removeClass("nbwhite");
                      $("#buss").addClass("bwhite");
                  }
              });
    }
      function  clockit(){
                //https://dev.to/arc__coder/real-time-javascript-clock-2dn0 heavy inspired by this example

        var d = new Date();
                var hrs = d.getHours();
                var min = d.getMinutes();
                var secs = d.getSeconds();
                if (min<10){
                    min = "0" + min;
                }
                if (secs<10){
                    secs = "0" + secs;
                }

                var tstring = (hrs + ":" + min + ":" + secs)
                document.getElementById("clocker").innerHTML = tstring;
            }
        $(document).ready(function() {
            getBus();
          $("body").click(function () {
            $(this).css("background-color", getRandomColor());
            $(".card").css("background-color", getRandomColor());
          })
          var interval = setInterval(clockit, 1000);
          setInterval(getBus,10000);
          $("#jolk").mouseleave(function(){
              $(this).text("What scream's I'm really insecure?")
          });
          $("#jolk").mouseenter(function(){
              $(this).text("HTTP instead of HTTPS")
          });

          $(".like-btn").click(function(){
              var id = $(this).attr('data-tweetid');
              var reqstr = 'likes.json?id=' + id;
              var fadetime = 50;
              $.getJSON(reqstr,function (likenum){
                  let likecount=$('#tweet-lk-count-'+id);
                  likecount.fadeOut(fadetime);
                  setTimeout(function(){
                      likecount.text(likenum['likecount']+" People like this tweet!");
                  },fadetime);
                  likecount.fadeIn(fadetime);
              });
          });
          $(".delbtn").click(function(){
              var id = $(this).attr('data-tweetid');
              var reqstr = 'delete.json?id=' + id;
              $.getJSON(reqstr,function (mess){
                  if(mess['mess']=='bad'){
                      window.location.assign("/login")
                  }
                  else{
                      selectstr= "[cahdid="+id+"]";
                       location.reload(true);
                  }
              });
          });
            $('.postdate').each(function (){
               var ts= $(this).attr('ts');
               var dat = new Date(1000*ts);
               var monarr = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
               var mon = monarr[dat.getMonth()];
               var day = dat.getDate();
               var year = dat.getFullYear();
               var hr = dat.getHours();
               var min = dat.getMinutes();
               if (min<10){
                   min = "0"+min;
               }
               var posttime = "Posted "+ hr +":"+min + " " + mon + " " + day + ", " + year + ".";
               $(this).text(posttime)
            });
        });

    </script>

  </head>
  <body>
  <div id="fb-root"></div>
<!--<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="7ilswWMi"></script>-->
<div class="jumbotron">
    <h1 class="text-center" id="clocker">0000000</h1>
  <p class="text-center">Welcome to my website!</p>
  <p class="text-center">What have people been saying?</p>
    </div>
  <div class="container">
    <div class="row">
      {%  for tweet in twits %}
          {%  if (loop.index-1)%3 == 0 %}
              </div>
              <div class="row">
          {% endif %}
          <div class = col-4>
                    <div class="card tweetcard border-secondary" cahdid={{ tweet[3] }}>
                        <div class="card-title text-center border-secondary bg-primary tweethead">
                            <b>{{ tweet[5] }}</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <p>{{ tweet[0] }}</p>
                                <div class="col-6">
                                <span class="btn btn-info like-btn" data-tweetid={{ tweet[3] }}>Like!</span>
                                </div>
                                <span class ="text-primary" id="tweet-lk-count-{{ tweet[3] }}">{{ tweet[4] }} People like this tweet!</span>
                            </div>
                            <div class="row">
                                <p>Posted from {{ tweet[2] }}</p>
                                <p class="postdate" ts={{ tweet[1] }}></p>
                            </div>
                            {% if (loggedin and (tweet[5]==user or user== "The Don")) %}
                        <div class="row">
                            <span class="btn btn-danger delbtn"  data-tweetid={{ tweet[3] }}>Delete Tweet</span>
                        </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
  {% endfor %}
    <form action ="/tweet" method="post">
        <label>Tweet</label>
        <input name="content" type="text">
        {% if  loggedin %}
            <input class="btn btn-primary" type="submit" value="Tweet">
        {% else %}
            <input class="btn btn-secondary" type="submit" value="Login to Tweet">
        {% endif %}
    </form>




<div class="row"><h2 class="midlist">Learn More About Hobbies</h2></div>
<ul class="list-group text-center list-group-flush" id="hoblist">
  <li class="list-group-item list-group-item-primary"><a href="jits">Jiu Jitsu</a></li>
  <li class="list-group-item list-group-item-danger"><a href="yoga">Yoga</a></li>
  <li class="list-group-item list-group-item-primary"><a href="baking">Baking</a></li>
</ul>
    <div class="text-center">
<h2>My Photos</h2>
        <div class="row text-center">
            <img id="spotlight" src="/static/imgs/fris2.jpg" class="img-fluid text-center" alt="should be muddy">
        </div>
        <div class="row text-center">
            <h2 id="busstat"></h2>
            <a href="https://kewlbus.wattsworth.net"><img id="buss" src="/static/imgs/bus.JPG" alt="Bus?"></a>
        </div>
    <h2>Funny Jokes</h2>
        <p id = 'jolk'>What screams I'm really insecure?</p>
        <p>Mouseover for answer</p>
    </div>
  <div class="row">
    <p class="text-center"><small>©Malatesta Enterprises 2020-2021</small></p>
      <p class="text-center"><small>Buy This Website</small></p>
      {% if money < 1000000 %}
      <p class="text-center"><small>Offers Starting at ${{ money }}</small></p>
      {% else %}
      <p class="text-center"><small>More than you can afford</small></p>
      {% endif %}

  </div>
        </div>
  <!--<div class="fb-like" data-href="https://paul.wattsworth.net" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>-->
  </div>
</body>
</html>