<!doctype html>

<html>
  <head>
    <title>{{ whatwecalled }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/homestyle.css">
  </head>


  <body id="jitspage">
        <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="imp">Names</h3>
        </div>
        <div class="col">
          <h3 class="imp">Side Effects</h3>
        </div>

        <div class="row">
        <div class="col">
          <h3>South American Ground Karate</h3>
        </div>
        <div class="col">
          <h3>Early Onset Arthritis</h3>
        </div>
      </div>

        <div class="row">
        <div class="col">
          <h3>Aggressive Partner <a href="/yoga">Yoga</a></h3>
        </div>
        <div class="col">
          <h3>Matburn</h3>
        </div>
      </div>

        <div class="row">
        <div class="col">
          <h3>Cuddle Struggles</h3>
        </div>
        <div class="col">
          <h3>Involuntary Napping</h3>
        </div>
      </div>
  </div>
</body>
</html>